#main{
    width: 75%;
    margin: 0 auto;
    font-family:Dosis;
}

@font-face
{
    font-family:Dosis;
    src:url(../font/Dosis-Regular.ttf);
}

input.ng-valid.ng-touched
{
 border: 1px solid green; 
}

input.ng-invalid.ng-touched
{
border: 1px solid red;  
}

ng-invalid.w3-btn
{
    background-color:greenyellow; 
}



