<!DOCTYPE html>
<!--

-->
<html>
    
    <head>
        <title>Form validation using Angular.JS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- W3.css Library -->
        <link href="frms/w3.css" rel="stylesheet">
        
        <!-- style sheet -->
        <link href="css/style.css" rel="stylesheet">
        
        <!-- Angular.JS library-->
        <script src="frms/angular.min.js"></script>
    </head>
    
    <body class="w3-light-grey">
        
        <!-- Main content-->
        <div class="w3-container w3-padding-12" id="main">
            
            
            <!-- Header -->
            <div class="w3-blue w3-center w3-large">
                Form validation using AngularJS
            </div>
            
           
            
            <div class="w3-grey" ng-app>
                
                
                <!-- form validation using angular.JS-->
                
                <form class="w3-form w3-animate-zoom" name="myform" novalidate method="post">
                             
                    <!--validate username -->
                    <div class="w3-text-white w3-center" ng-show="myform.username.$invalid && myform.username.$touched">* fill your name ! </div> 
                    <div class="w3-text-white w3-light-green w3-center" ng-show="myform.username.$valid && myform.username.$touched">name okay </div>
                    
                    <!--validate email -->
                    <div class="w3-text-white  w3-center" ng-show="myform.useremail.$invalid && myform.useremail.$touched">* fill your email ! </div>
                    <div class="w3-text-white w3-light-green w3-center" ng-show="myform.useremail.$valid && myform.useremail.$touched">email okay </div>
                              
                    <!--validate password -->
                    <div class="w3-text-white w3-center" ng-show="myform.password1.$invalid && myform.password1.$touched" ng-minlength="6">* fill your password && min length 10 chars ! </div> 
                    <div class="w3-text-white w3-light-green w3-center" ng-show="myform.password1.$valid && myform.password1.$touched" ng-minlength="6">password okay </div> 

                    <div class="w3-text-white w3-center" ng-show="myform.password2.$invalid && myform.password2.$touched" ng-minlength="6">*fill your password again if any ! && && min length 10 chars </div> 
                    <div class="w3-text-white w3-light-green w3-center" ng-show="myform.password2.$valid && myform.password2.$touched" ng-minlength="6">Repeated password okay </div> 
                    
                    <input type="text" placeholder="user name" name="username" class="w3-input" ng-model="user.name" ng-required="true">
 
                    
                    <input type="email" placeholder="user email" name="useremail" class="w3-input" ng-model="user.email" ng-required="true">
                     
                    
                    <input type="password" name="password1" class="w3-input" placeholder="password" ng-model="user.password1" ng-required="true" ng-minlength="10">
                   
                    
                    <input type="password" name="password2" class="w3-input" placeholder="password again" ng-model="user.password2" ng-required="true" ng-minlength="10">
                    
                    <div class="w3-left-align w3-text-white" >
                    Male
                    <input type="radio" name="male" value="male" class="w3-radio" ng-model="user.radio">
                    
                   Female
                   <input type="radio" name="female" value="female" class="w3-radio" ng-model="user.radio">
                   </div>
                    
                    <input type="submit" name="send" value="Send" class="w3-btn w3-round w3-white w3-text-blue w3-hover-blue w3-hover-text-white w3-border w3-hover-border-white">
                    <br>
                    
                    <!-- validate gender-->
                    <div ng-switch="user.radio">
                        
                       <div ng-switch-when="male"></div>
                       <div ng-switch-when="female"></div>
                       
                    </div>
                    
                </form>
                
            </div>
           
            
            
            <!-- Footer-->           
            <div class="w3-blue w3-center w3-large">
                Mustafa Omran &COPY; 2017 
            </div>
            
            
        </div>
    </body>
</html>
